# DOCKER
COMPOSE_PROJECT_NAME=wjh.dev

# APP
SITE_URL=wjh.test

# WORDPRESS:
WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_NAME=wjhdev
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_UPLOADS_DIR=/wp-content/uploads