wjh-header-ribbon {
  display: block;
  color: white;
  div.ribbon {
    width: 100%;
    height: 10px;
    position: fixed;
    top: 0px;
    z-index: 100;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
  h1 {
    font-family: "Decimal A", "Decimal B";
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    kerning: -1em;
    letter-spacing: -0.02em;
    margin-bottom: 120px;
    b {
      font-weight: 600;
    }
  }
}

.admin-bar {
  wjh-header-ribbon {
    display: block;
    color: white;
    div.ribbon {
      width: 100%;
      height: 10px;
      position: fixed;
      top: 32px;
      z-index: 10px;
    }
  }
}
