
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: #4D4D4D;
}

wjh-home {
    margin: 0 auto;
    display: block;
    font-weight: bold; 
    font-family: 'FuturaBT-MediumCondensed';
    wjh-grid {
        padding: 0 50px;
    }
    .header {
        width: 100%;
        background: #CDFF00; 
        padding: 12px 0;  
        font-size: 1.5em;
    }
    .section {
        position: relative;
        hr {
            width: 60px;
            margin: 24px 0;
        }
        color: white;
        border-top: 1px solid rgba(white,.4);
        padding-top: 24px;
        &:first-child {
            margin-top: 90px;
        }
        h1 {
            text-transform: uppercase;
            font-size: 21pt;
        }
        p {
            margin-top: 18px;
            font-family: "open sans";
            font-weight: normal;
            font-size: 21px;
        }
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color:#CDFF00;
            }
        }
    }
}   

@include breakpoint('desktop') {
    wjh-home {
        .section, .header-content {
            margin: 0 auto;
        }
        .section {
            &:first-child {
                margin-top: 80px;
            }
            padding-left: col(7);
        }
        h1 {
            position: absolute;
            top: 42px;
            left: 0;
            width: col(4);
        }
        
    }
}