wp-title {
    h1 {
        font-family: "Decimal A", "Decimal B";
        font-weight: 600;
        font-size: 28px;
        letter-spacing: -0.04em;
    }
}

wp-running-copy,
wp-excerpt-copy, 
p {
    font-family: "Hoefler Text A", "Hoefler Text B";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

pre.wp-block-code {
    font-family: "Operator Mono SSm A", "Operator Mono SSm B";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background: #0C252B;
    padding: 20px;
    max-width: 800px;
}

a {
    color: #5dadec;
    text-decoration: none;
    &:hover {
        color: #93c8f1;
        cursor: pointer;
    }
}

wp-media img {
    max-width: 100%;
}
body {
    background: #00131C;
    color: white;
    margin: 0;
    padding: 0;
}

.colophon {
    font-family: "Decimal A", "Decimal B";
    font-weight: 600;
    font-size: 16px;   
}
