

wjh-grid {
   display: block;
   position: relative;
   .wrap {
      margin: 0 auto;
      max-width: 1020px;
      & > [slot=left] {
         float: left;
      }
      & > [slot=right] {
         float: right;
      }
      & > [slot] {   
         &.col-3 {
            width: 30%;
         }
         &.col-4 {
            width: 40%;
         }
         &.col-6 {
            width: 60%;
         }
      }
   }

}
