
$columnWidth: 36;
$gutterWidth: 14;


/***
 * Grid Mixins
 */
@function pageWidth($cols:1,$additionalGutter:0) {
	@return (($columnWidth * $cols) + ($gutterWidth * (($cols + $additionalGutter) - 1)));
}

 /***
 * Grid Values
 */
@function columnWidths($count) {
	@return '\(var(--columnWidth) * #{$count}\)';
}

@function gutterWidths($count) {
	@return '\(var(--gutterWidth) * #{$count}\)';
}

@function containerWidth($cols, $additionalGutter: 0) {
  $gutter: '\(#{$cols} - 1 + #{$additionalGutter}\)';
	@return '\(#{columnWidths($cols)} + #{gutterWidths(#{$gutter})}\)';
}

@function colRatio($cols) {
	@return '\(\(#{containerWidth($cols)}\) / \(#{containerWidth(var(--breakpointColumns),var(--additionalGutter))}\)\)';
}

@function gutterRatio($count) {
	@return '\(\(#{gutterWidths($count)}\) / \(#{containerWidth(var(--breakpointColumns),var(--additionalGutter))}\)\)';
}

@function col($col, $additionalGutter: 0, $offset: 0px) { 
	@if $col == 100% {
		@return calc((100% * (#{1  + ' + ' + gutterRatio($additionalGutter)})) + #{$offset});
	}
	@return calc((100% * (#{colRatio($col)  + ' + ' + gutterRatio($additionalGutter)})));
}
  
@function gutter($count: 1, $offset: 0px) {
	@return calc((100% * #{(gutterRatio($count))}) + #{$offset});
} 
  
@mixin setCol($col, $additionalGutter: 0, $absolute: false) {
	& *, &:after, &:before {
		--breakpointColumns: #{$col};
		--additionalGutter: #{$additionalGutter};
	}
	width: col($col, $additionalGutter);
	@if $absolute {
		position: absolute;
	} 
	@else {
		position: relative;
	}
}

@mixin setGrid($columnCount, $columnWidth, $gutterWidth, $additionalGutter: 0) {
	&, * {
		--breakpointColumns: #{$columnCount};
		--additionalGutter: #{$additionalGutter};
		--gutterWidth: #{$gutterWidth};
		--columnWidth: #{$columnWidth};
	}
	@include setCol($columnCount, $additionalGutter);
}

@mixin breakpoint($breakpoint) {
	@if $breakpoint == "tablet" {
	  @media (min-width: 600 + "px") {
			@content;
		}
	}
	@else if $breakpoint == "desktop" {
		@media (min-width: 1020 + "px") {
			@content;
		}
	}
}

