wjh-page {
    wjh-grid {
        .wrap {
            border-top: 2px solid rgba(white,.3);
            padding-top: 36px;
            margin-bottom: 60px;
        }
    }
    h1 {
        margin-bottom: 48px;
    }
}