
wjh-front-page {
    .welcome {
        a {
            font-weight: 700;
        }
    }
    wjh-grid {
        .wrap {
            border-top: 2px solid rgba(white,.3);
            padding-top: 36px;
            margin-bottom: 60px;
        }
        display: block;
    }
    width: 100%;
}

